<div class="footer justify-content-center">
    <ul>
        <li><a href="../../examples/#">Lien</a></li>
        <li><a href="../../examples/#">Lien</a></li>
        <li><a href="../../examples/#">Lien</a></li>
        <li><a href="../../examples/#">Lien</a></li>
    </ul>
</div>