.back
{
    background: linear-gradient(180deg, #B1B1B1 0%, rgba(255, 253, 253, 0.470486) 50%, #595959 100%) no-repeat;
}


/* ---------------NAVBAR-------------- */
.pad2
{
    padding: 2%;
}

.liennav
{
    color: white;
    
}

.liennav ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.liennav li a
{
    border-radius: 20px;
    background-color: lightgrey;
}

.liennav li a:hover
{
    background-color: grey;
}
/*------------------------------------------PAGE ACCUEIL----------------------------------------------------------*/
/* ------------------HEADER----------------------  */

.headerstyle
{
    padding: 2%;
    border-radius: 20px 20px 0 0;
    background-color: #403F3F;
}

.sousheaderstyle
{
    border-radius: 0 0 20px 20px;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    box-shadow: 3px;
    
}


/* --------------------HERO------------------  */


/* --------------------CAROUSEL------------------  */


/*--------------------------------------------------AVIS UTILISATEUR------------------------------------*/




/* ---------------------------------------------PAGE A PROPOS------------------------------------------- */



.photoapropos
{
    border-radius: 40px;
    width: 100%;
}

.ulapropos
{
    margin-left: 0 !important;
}

.ul
{
    font-size: 40px;
}

.textapropos
{
    color: white;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* ----------------------------------------PAGE TOUS PROJETS---------------------------------- */

.formregistration
{
    display: flex;
}

.photoprojet
{
    transition-duration: 1s;
}
.photoprojet:hover
{
    transform: scale(1.5);
    text-align: center;
}

/* ----------------------------------------PAGE CHAQUE PROJET---------------------------------- */

.titreprojet
{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 1%;
}
.presentationprojet
		{
			display: flex;
			flex-direction: row;
		}

		.boutonrevenir
		{
			background-color: white;
			padding : 2%;
			margin-bottom: 10%;
		}
		.photo
		{
			border-radius: 10px;
		}
/* ----------------PAGE REGISTER------------- */

.boutonRegister
{
    margin : 2%;
    margin-left : 44%;    
}

/* ----------------PAGE LOGIN------------- */

.boutonLogin
{
    margin : 2%;
    margin-left : 44%;    
}
/* ---------------FOOTER-------------- */

.footer ul
{
    list-style-type: none;
    color: white;
    background-color: #B1B1B1;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5%;
    border-radius: 20px 20px 0 0;
}

/* ----------------------------------------PAGE REGISTER---------------------------------- */
