{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<style>
    .apropos
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
    .photoapropos
    {
        border-radius: 40px;
        width: 100%;
    }

</style>

<div class="apropos container">
    <div >
        <img class="photoapropos" src={{ asset('assets/images/IMG-20230214-WA0002.jpg') }}  alt="portrait">
    </div>
    <div class="ulapropos">
        <ul class="ul">
            <li>De Sa</li>
            <li>Christine</li>
            {% set dateOfBirth = date('1960-10-03') %}
            {% set currentDate = 'now' %}
            {% set dob = date(dateOfBirth) %}
            {% set now = date(currentDate) %}
            {% set age = dob.diff(now).y %}
            <li>{{ age }} ans</li>
            <li>2 allée des bleuets, Limay, Yvelines</li>
            <li>06 05 39 85 05</li>
            <li>de.sa.christine@cegetel.net</li>
        </ul>
    </div>
</div>
<p class="textapropos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>



{% endblock %}
