{% extends 'base.html.twig' %}

{% block title %}MonEspace{% endblock %}

{% block body %}

<div class="container">
    {% if app.user %}
    <ul>
        <li>Nom : {{ app.user.nom }}</li>
        <li>Prénom : {{ app.user.prenom }}</li>
        <li>Email : {{ app.user.email }}</li>
        <li>Vos Commandes : </li>
    </ul>
    {% endif %}
</div>

{% endblock %}
